.cache/
.matplotlib
operational_output/
figures/
model_candidate_evaluation/
from_longleaf/
mlruns/
training_datasets/
influpaint-paper/
archives/dev/aider.chat.history.md
custom_datasets/*
*.out
CoPaint4influpaint/
archives/referenceimplementations/
Flusight/*
memories/
outreach/
wnv-forecasting/
model_output/*
influpaint-paper/*
# 
interval_scoring/

# MkDocs
site/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.DS_Store
# C extensions
*.so

.vscode/
.aider*
